body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
header{
    width: 100%;
    max-width: 100%;
    background-color: black;
    position: fixed;
}
.navbar {
    color: white;
}
body header div nav li {
    display: inline;
    margin: 10px;
    text-decoration: none;
    list-style-type: none;
}
a {
    color: yellowgreen;
    font-weight: bold;

}
h1 {
    font-weight: bold;
}

/* le style du navbar*/

.img {
    padding: 70px;
    margin: 20px;
}
.text {
    padding: 70px;
    margin: 20px;
}
h3 {
    font-size: small;
}
.remove-item{
	width: 25px!important;
}
.btn-default{
	background-color: #fff;
}
.form-control{
	background-color: #F6F5FA;
	border: none;
    width: 65px;
    border-radius: 10px!important;
    font-weight: 700;
    font-size: 20px;
}
.input-group{
	width: unset;
	flex-wrap: nowrap;
}
.status{
	text-align: right;
}
.check-out{
    float: right;
    padding: 10px 30px;
	font-size: 19px;
	background-color: #2FBE70;
	border: none;
}